/output.json
/build
dist
__pycache__
cache_
cache/ytdlp_lite.log
ytdlp_lite.log
ON YOUR MARK - Gundam Unicorn OST - Hiroyuki Sawano.wav
/v2/native_app/build
v2/native_app/native_app.spec
/cache
src/log.native_host
v2/log.native_host
src_native_app/log.filename
src_native_app/log.native_host
src_native_app/log.ytd_subprocess
.gitignore
log.native_host
