/output.json
/build
dist
__pycache__
cache_
cache/ytdlp_lite.log
ytdlp_lite.log
/v2/native_app/build
v2/native_app/native_app.spec
/cache
src/log.native_host
v2/log.native_host
src_native_app/log.filename
src_native_app/log.native_host
src_native_app/log.ytd_subprocess
.gitignore
log.native_host
src_native_app/log.native_host
src_native_app/ytd_subprocess.py
src_native_app/log.native_host
src_native_app/log.d
src_native_app/log.native_host
src_native_app.crx
.gitignore
src_native_app.pem
src_native_app/log.installer
src_native_app/native_messaging_host.json
/src_native_app/build
/LiteYoutubeDownloader-1.385-arm64
/src_native_app/ffmpeg
/src_native_app/*.exe
src_native_app/ytd_subprocess.spec
src_native_app/native_host.spec
/src_native_app/*.log
*.log
LiteYoutubeDownloader
/*.zip
src_native_app/Lite_Youtube_Downloader_windows_installer.spec
src_native_app/LiteYoutubeDownloader.zip
